In [1]:
! pip install unidecode

Requirement already satisfied: unidecode in c:\users\avinash\downloads\new folder\lib\site-packages (1.3.8)

###  Olist customers dataset

In [2]:
import pandas as pd

# Load the file
customer = pd.read_csv('olist_customers_dataset.csv')

In [3]:
customer = pd.read_csv('olist_customers_dataset.csv')

In [4]:
# View the first few rows in your Notebook
customer.tail()

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state
99436,17ddf5dd5d51696bb3d7c6291687be6f,1a29b476fee25c95fbafc67c5ac95cf8,3937,sao paulo,SP
99437,e7b71a9017aa05c9a7fd292d714858e8,d52a67c98be1cf6a5c84435bd38d095d,6764,taboao da serra,SP
99438,5e28dfe12db7fb50a4b2f691faecea5e,e9f50caf99f032f0bf3c55141f019d99,60115,fortaleza,CE
99439,56b18e2166679b8a959d72dd06da27f9,73c2643a0a458b49f58cea58833b192e,92120,canoas,RS
99440,274fa6071e5e17fe303b9748641082c8,84732c5050c01db9b23e19ba39899398,6703,cotia,SP

In [5]:
customer.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99441 entries, 0 to 99440
Data columns (total 5 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   customer_id               99441 non-null  object
 1   customer_unique_id        99441 non-null  object
 2   customer_zip_code_prefix  99441 non-null  int64
 3   customer_city             99441 non-null  object
 4   customer_state            99441 non-null  object
dtypes: int64(1), object(4)
memory usage: 3.8+ MB

In [6]:
#  capitalizing first alphabet of each word for city.
customer["customer_city"]=customer["customer_city"].str.title()

In [7]:
customer["customer_id"].nunique()

99441

In [8]:
customer["customer_unique_id"].nunique()

96096

## olist_geolocation_datasets

In [9]:
# Load the file
geolocation = pd.read_csv('Project2/olist_geolocation_dataset.csv')

In [10]:
geolocation.head()

,geolocation_zip_code_prefix,geolocation_lat,geolocation_lng,geolocation_city,geolocation_state
0,1037,-23.545621,-46.639292,sao paulo,SP
1,1046,-23.546081,-46.644820,sao paulo,SP
2,1046,-23.546129,-46.642951,sao paulo,SP
3,1041,-23.544392,-46.639499,sao paulo,SP
4,1035,-23.541578,-46.641607,sao paulo,SP

In [11]:
geolocation.count()

geolocation_zip_code_prefix    1000163
geolocation_lat                1000163
geolocation_lng                1000163
geolocation_city               1000163
geolocation_state              1000163
dtype: int64

In [12]:
geolocation.tail()

,geolocation_zip_code_prefix,geolocation_lat,geolocation_lng,geolocation_city,geolocation_state
1000158,99950,-28.068639,-52.010705,tapejara,RS
1000159,99900,-27.877125,-52.224882,getulio vargas,RS
1000160,99950,-28.071855,-52.014716,tapejara,RS
1000161,99980,-28.388932,-51.846871,david canabarro,RS
1000162,99950,-28.070104,-52.018658,tapejara,RS

In [13]:
geolocation['geolocation_city']=geolocation['geolocation_city'].str.title()

In [14]:
geolocation.duplicated().sum()

261836

In [15]:
geolocation.drop_duplicates(inplace=True)

In [16]:
geolocation.count()

geolocation_zip_code_prefix    738327
geolocation_lat                738327
geolocation_lng                738327
geolocation_city               738327
geolocation_state              738327
dtype: int64

In [17]:
# drop columns geolocation_lat	geolocation_lng
# there is no need in data valualization (it can grt from state) so drop the columns 
geolocation.drop(columns=["geolocation_lat","geolocation_lng"], inplace=True)

In [18]:
geolocation

         geolocation_zip_code_prefix geolocation_city geolocation_state
0                               1037        Sao Paulo                SP
1                               1046        Sao Paulo                SP
2                               1046        Sao Paulo                SP
3                               1041        Sao Paulo                SP
4                               1035        Sao Paulo                SP
...                              ...              ...               ...
1000155                        99965       Agua Santa                RS
1000156                        99950         Tapejara                RS
1000157                        99950         Tapejara                RS
1000158                        99950         Tapejara                RS
1000161                        99980  David Canabarro                RS

[738327 rows x 3 columns]

In [19]:
geolocation['geolocation_city'].nunique()

8011

In [20]:
geolocation['geolocation_city'].sample(10)

910996       Balneario Camboriu
240847    Sao Bernardo Do Campo
501250                 Mesquita
203297                Sao Paulo
243737                  Diadema
497885              Nova Iguacu
768698                 Santarem
57269                 Sao Paulo
58785                 São Paulo
651946                 Paracatu
Name: geolocation_city, dtype: object

In [21]:
# city name is writeen in Portuguese so converted into english language
from unidecode import unidecode
geolocation["geolocation_city"]= geolocation["geolocation_city"].apply(lambda x:unidecode(x))

In [22]:
geolocation['geolocation_city']

0                Sao Paulo
1                Sao Paulo
2                Sao Paulo
3                Sao Paulo
4                Sao Paulo
                ...
1000155         Agua Santa
1000156           Tapejara
1000157           Tapejara
1000158           Tapejara
1000161    David Canabarro
Name: geolocation_city, Length: 738327, dtype: object

In [23]:
geolocation['geolocation_city'].sample(5)

243745      Diadema
864867    Araucaria
528779      Vitoria
782628     Brasilia
917622     Criciuma
Name: geolocation_city, dtype: object

In [24]:
def contains_number(s):
    return any(i.isdigit() for i in  str(s))

In [25]:
geolocation[geolocation["geolocation_city"].apply(contains_number)]

,geolocation_zip_code_prefix,geolocation_city,geolocation_state
377210,17970,Sao Joao Do Pau D%26Apos%3Balho,SP
538905,29735,Quilometro 14 Do Mutum,ES
539470,29735,Quilometro 14 Do Mutum,ES
726758,57010,Maceia3,AL
786179,71880,Riacho Fundo 2,DF
823386,78278,Lambari D%26Apos%3Boeste,MT
896733,87365,4O. Centenario,PR
896977,87365,4o Centenario,PR
897217,87365,4o Centenario,PR
977775,96130,Colonia Z-3,RS
977787,96130,Colonia Z-3,RS
977813,96130,Colonia Z-3,RS

In [26]:
import re

def remove_numbers(s):
    return re.sub(r'\d+','',str(s))

In [27]:
geolocation["geolocation_city"] = geolocation["geolocation_city"].apply(remove_numbers)

In [28]:
geolocation[geolocation["geolocation_city"].apply(contains_number)]

Empty DataFrame
Columns: [geolocation_zip_code_prefix, geolocation_city, geolocation_state]
Index: []

In [29]:
 geolocation['geolocation_city']=geolocation["geolocation_city"].str.replace("'","",regex=False)

In [30]:
geolocation.duplicated().sum()

718711

In [31]:
geolocation[geolocation["geolocation_city"].str.contains("'", na=False)]

Empty DataFrame
Columns: [geolocation_zip_code_prefix, geolocation_city, geolocation_state]
Index: []

In [32]:
geolocation[geolocation["geolocation_city"].str.startswith("*")]

        geolocation_zip_code_prefix geolocation_city geolocation_state
851430                        81470         * Cidade                PR

In [33]:
geolocation["geolocation_city"]= geolocation["geolocation_city"].str.replace("*","", regex=False)

In [34]:
geolocation[geolocation["geolocation_city"].str.startswith("*")]

Empty DataFrame
Columns: [geolocation_zip_code_prefix, geolocation_city, geolocation_state]
Index: []

In [35]:
def keep_only_text(x):
    if pd.isna(x):
        return x
    # remove everything except alphabets and spaces
    return re.sub(r"[^A-Za-z\s]", "", str(x)).strip()

In [36]:
geolocation["geolocation_city"]= geolocation["geolocation_city"].apply(keep_only_text)

In [37]:
geolocation["geolocation_city"]= geolocation["geolocation_city"].str.replace("Sao Joao Do Pau D Alho","Sao Joao Do Pau DAlho")

In [38]:
geolocation.drop_duplicates(inplace=True)

In [39]:
# PERFORMING THE SAME STEPS FOR CUSTOMER TABLE CITY COLUMN
customer["customer_city"]= customer["customer_city"].apply(lambda x: unidecode(x))
customer["customer_city"]= customer["customer_city"].apply(keep_only_text)

In [40]:
customer.duplicated().sum()

0

## Olist_Product_Dataset

In [41]:
product = pd.read_csv('Project2/olist_products_dataset.csv')

In [42]:
product.head()

,product_id,product_category_name,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm
0,1e9e8ef04dbcff4541ed26657ea517e5,perfumaria,40.0,287.0,1.0,225.0,16.0,10.0,14.0
1,3aa071139cb16b67ca9e5dea641aaa2f,artes,44.0,276.0,1.0,1000.0,30.0,18.0,20.0
2,96bd76ec8810374ed1b65e291975717f,esporte_lazer,46.0,250.0,1.0,154.0,18.0,9.0,15.0
3,cef67bcfe19066a932b7673e239eb23d,bebes,27.0,261.0,1.0,371.0,26.0,4.0,26.0
4,9dc1a7de274444849c219cff195d0b71,utilidades_domesticas,37.0,402.0,4.0,625.0,20.0,17.0,13.0

In [43]:
product.columns

Index(['product_id', 'product_category_name', 'product_name_lenght',
       'product_description_lenght', 'product_photos_qty', 'product_weight_g',
       'product_length_cm', 'product_height_cm', 'product_width_cm'],
      dtype='object')

In [44]:
product.drop(columns=['product_name_lenght',
       'product_description_lenght', 'product_weight_g',
       'product_length_cm', 'product_height_cm', 'product_width_cm'], inplace=True)

In [45]:
product.head()

                         product_id  product_category_name  product_photos_qty
0  1e9e8ef04dbcff4541ed26657ea517e5             perfumaria                 1.0
1  3aa071139cb16b67ca9e5dea641aaa2f                  artes                 1.0
2  96bd76ec8810374ed1b65e291975717f          esporte_lazer                 1.0
3  cef67bcfe19066a932b7673e239eb23d                  bebes                 1.0
4  9dc1a7de274444849c219cff195d0b71  utilidades_domesticas                 4.0

In [46]:
product['product_category_name']

0                               perfumaria
1                                    artes
2                            esporte_lazer
3                                    bebes
4                    utilidades_domesticas
                       ...
32946                     moveis_decoracao
32947    construcao_ferramentas_iluminacao
32948                      cama_mesa_banho
32949               informatica_acessorios
32950                      cama_mesa_banho
Name: product_category_name, Length: 32951, dtype: object

In [47]:
# there is a product_category_name is available in Portuguese 
# we have csv file where english names also available

## product_category_name_translation

In [48]:
translation=pd.read_csv('Project2/product_category_name_translation.csv')

In [49]:
translation

            product_category_name product_category_name_english
0                    beleza_saude                 health_beauty
1          informatica_acessorios         computers_accessories
2                      automotivo                          auto
3                 cama_mesa_banho                bed_bath_table
4                moveis_decoracao               furniture_decor
..                            ...                           ...
66                         flores                       flowers
67             artes_e_artesanato         arts_and_craftmanship
68                fraldas_higiene           diapers_and_hygiene
69  fashion_roupa_infanto_juvenil     fashion_childrens_clothes
70             seguros_e_servicos         security_and_services

[71 rows x 2 columns]

In [50]:
print(translation["product_category_name"].nunique())
print(product["product_category_name"].nunique())

71
73

In [51]:
# lets find the category that is in product table but not in translation table
translation[~translation["product_category_name"].isin(product["product_category_name"])]

Empty DataFrame
Columns: [product_category_name, product_category_name_english]
Index: []

In [52]:
product[~product["product_category_name"].isin(translation["product_category_name"])]["product_category_name"].unique()

array([nan, 'pc_gamer', 'portateis_cozinha_e_preparadores_de_alimentos'],
      dtype=object)

In [53]:
translation.sort_values(by=["product_category_name"])["product_category_name"].unique()

array(['agro_industria_e_comercio', 'alimentos', 'alimentos_bebidas',
       'artes', 'artes_e_artesanato', 'artigos_de_festas',
       'artigos_de_natal', 'audio', 'automotivo', 'bebes', 'bebidas',
       'beleza_saude', 'brinquedos', 'cama_mesa_banho', 'casa_conforto',
       'casa_conforto_2', 'casa_construcao', 'cds_dvds_musicais',
       'cine_foto', 'climatizacao', 'consoles_games',
       'construcao_ferramentas_construcao',
       'construcao_ferramentas_ferramentas',
       'construcao_ferramentas_iluminacao',
       'construcao_ferramentas_jardim',
       'construcao_ferramentas_seguranca', 'cool_stuff', 'dvds_blu_ray',
       'eletrodomesticos', 'eletrodomesticos_2', 'eletronicos',
       'eletroportateis', 'esporte_lazer', 'fashion_bolsas_e_acessorios',
       'fashion_calcados', 'fashion_esporte', 'fashion_roupa_feminina',
       'fashion_roupa_infanto_juvenil', 'fashion_roupa_masculina',
       'fashion_underwear_e_moda_praia', 'ferramentas_jardim', 'flores',
       'fraldas_higiene', 'industria_comercio_e_negocios',
       'informatica_acessorios', 'instrumentos_musicais', 'la_cuisine',
       'livros_importados', 'livros_interesse_geral', 'livros_tecnicos',
       'malas_acessorios', 'market_place', 'moveis_colchao_e_estofado',
       'moveis_cozinha_area_de_servico_jantar_e_jardim',
       'moveis_decoracao', 'moveis_escritorio', 'moveis_quarto',
       'moveis_sala', 'musica', 'papelaria', 'pcs', 'perfumaria',
       'pet_shop', 'portateis_casa_forno_e_cafe', 'relogios_presentes',
       'seguros_e_servicos', 'sinalizacao_e_seguranca',
       'tablets_impressao_imagem', 'telefonia', 'telefonia_fixa',
       'utilidades_domesticas'], dtype=object)

In [54]:
translation[translation["product_category_name"]=="pcs"]

   product_category_name product_category_name_english
53                   pcs                     computers

In [55]:
translation[translation["product_category_name"]=="portateis_casa_forno_e_cafe"]

          product_category_name          product_category_name_english
63  portateis_casa_forno_e_cafe  small_appliances_home_oven_and_coffee

In [56]:
translation

            product_category_name product_category_name_english
0                    beleza_saude                 health_beauty
1          informatica_acessorios         computers_accessories
2                      automotivo                          auto
3                 cama_mesa_banho                bed_bath_table
4                moveis_decoracao               furniture_decor
..                            ...                           ...
66                         flores                       flowers
67             artes_e_artesanato         arts_and_craftmanship
68                fraldas_higiene           diapers_and_hygiene
69  fashion_roupa_infanto_juvenil     fashion_childrens_clothes
70             seguros_e_servicos         security_and_services

[71 rows x 2 columns]

In [57]:
product= pd.merge(product,translation,left_on="product_category_name", right_on="product_category_name", how="left")

In [58]:
product

,product_id,product_category_name,product_photos_qty,product_category_name_english
0,1e9e8ef04dbcff4541ed26657ea517e5,perfumaria,1.0,perfumery
1,3aa071139cb16b67ca9e5dea641aaa2f,artes,1.0,art
2,96bd76ec8810374ed1b65e291975717f,esporte_lazer,1.0,sports_leisure
3,cef67bcfe19066a932b7673e239eb23d,bebes,1.0,baby
4,9dc1a7de274444849c219cff195d0b71,utilidades_domesticas,4.0,housewares
...,...,...,...,...
32946,a0b7d5a992ccda646f2d34e418fff5a0,moveis_decoracao,2.0,furniture_decor
32947,bf4538d88321d0fd4412a93c974510e6,construcao_ferramentas_iluminacao,1.0,construction_tools_lights
32948,9a7c6041fa9592d9d9ef6cfe62a71f8c,cama_mesa_banho,1.0,bed_bath_table
32949,83808703fc0706a22e264b9d75f04a2e,informatica_acessorios,2.0,computers_accessories
32950,106392145fca363410d287a815be6de4,cama_mesa_banho,1.0,bed_bath_table

In [59]:
product[product["product_category_name"]=="portateis_cozinha_e_preparadores_de_alimentos"]

,product_id,product_category_name,product_photos_qty,product_category_name_english
5821,6fd83eb3e0799b775e4f946bd66657c0,portateis_cozinha_e_preparadores_de_alimentos,1.0,NaN
7325,5d923ead886c44b86845f69e50520c3e,portateis_cozinha_e_preparadores_de_alimentos,1.0,NaN
8819,bed164d9d628cf0593003389c535c6e0,portateis_cozinha_e_preparadores_de_alimentos,2.0,NaN
11039,1220978a08a6b29a202bc015b18250e9,portateis_cozinha_e_preparadores_de_alimentos,1.0,NaN
14266,ae62bb0f95af63d64eae5f93dddea8d3,portateis_cozinha_e_preparadores_de_alimentos,1.0,NaN
16182,1954739d84629e7323a4295812a3e0ec,portateis_cozinha_e_preparadores_de_alimentos,4.0,NaN
17800,c7a3f1a7f9eef146cc499368b578b884,portateis_cozinha_e_preparadores_de_alimentos,5.0,NaN
18610,7afdd65f79f63819ff5bee328843fa37,portateis_cozinha_e_preparadores_de_alimentos,1.0,NaN
26890,a4756663d007b0cd1af865754d08d968,portateis_cozinha_e_preparadores_de_alimentos,4.0,NaN
29919,cb9d764f38ee4d0c00af64d5c388f837,portateis_cozinha_e_preparadores_de_alimentos,1.0,NaN

In [60]:
product.loc[product["product_category_name"]=="pc_gamer","Product category in english"]="computers"
product.loc[product["product_category_name"]=="portateis_cozinha_e_preparadores_de_alimentos", "Product category in english"]="small_appliances_home_oven_and_coffee"

In [61]:
product[product['product_category_name']=='pc_gamer']

,product_id,product_category_name,product_photos_qty,product_category_name_english,Product category in english
1628,0105b5323d24fc655f73052694dbbb3a,pc_gamer,4.0,NaN,computers
7478,6727051471a0fc4a0e7737b57bff2549,pc_gamer,3.0,NaN,computers
16930,dbe520fb381ad695a7e1f2807d20c765,pc_gamer,6.0,NaN,computers

In [62]:
product

,product_id,product_category_name,product_photos_qty,product_category_name_english,Product category in english
0,1e9e8ef04dbcff4541ed26657ea517e5,perfumaria,1.0,perfumery,NaN
1,3aa071139cb16b67ca9e5dea641aaa2f,artes,1.0,art,NaN
2,96bd76ec8810374ed1b65e291975717f,esporte_lazer,1.0,sports_leisure,NaN
3,cef67bcfe19066a932b7673e239eb23d,bebes,1.0,baby,NaN
4,9dc1a7de274444849c219cff195d0b71,utilidades_domesticas,4.0,housewares,NaN
...,...,...,...,...,...
32946,a0b7d5a992ccda646f2d34e418fff5a0,moveis_decoracao,2.0,furniture_decor,NaN
32947,bf4538d88321d0fd4412a93c974510e6,construcao_ferramentas_iluminacao,1.0,construction_tools_lights,NaN
32948,9a7c6041fa9592d9d9ef6cfe62a71f8c,cama_mesa_banho,1.0,bed_bath_table,NaN
32949,83808703fc0706a22e264b9d75f04a2e,informatica_acessorios,2.0,computers_accessories,NaN
32950,106392145fca363410d287a815be6de4,cama_mesa_banho,1.0,bed_bath_table,NaN

In [63]:
product["product_category_name_english"]= product["product_category_name"]

In [64]:
product

,product_id,product_category_name,product_photos_qty,product_category_name_english,Product category in english
0,1e9e8ef04dbcff4541ed26657ea517e5,perfumaria,1.0,perfumaria,NaN
1,3aa071139cb16b67ca9e5dea641aaa2f,artes,1.0,artes,NaN
2,96bd76ec8810374ed1b65e291975717f,esporte_lazer,1.0,esporte_lazer,NaN
3,cef67bcfe19066a932b7673e239eb23d,bebes,1.0,bebes,NaN
4,9dc1a7de274444849c219cff195d0b71,utilidades_domesticas,4.0,utilidades_domesticas,NaN
...,...,...,...,...,...
32946,a0b7d5a992ccda646f2d34e418fff5a0,moveis_decoracao,2.0,moveis_decoracao,NaN
32947,bf4538d88321d0fd4412a93c974510e6,construcao_ferramentas_iluminacao,1.0,construcao_ferramentas_iluminacao,NaN
32948,9a7c6041fa9592d9d9ef6cfe62a71f8c,cama_mesa_banho,1.0,cama_mesa_banho,NaN
32949,83808703fc0706a22e264b9d75f04a2e,informatica_acessorios,2.0,informatica_acessorios,NaN
32950,106392145fca363410d287a815be6de4,cama_mesa_banho,1.0,cama_mesa_banho,NaN

In [65]:
product.drop(columns=["product_category_name_english"], inplace=True)

In [66]:
product

,product_id,product_category_name,product_photos_qty,Product category in english
0,1e9e8ef04dbcff4541ed26657ea517e5,perfumaria,1.0,NaN
1,3aa071139cb16b67ca9e5dea641aaa2f,artes,1.0,NaN
2,96bd76ec8810374ed1b65e291975717f,esporte_lazer,1.0,NaN
3,cef67bcfe19066a932b7673e239eb23d,bebes,1.0,NaN
4,9dc1a7de274444849c219cff195d0b71,utilidades_domesticas,4.0,NaN
...,...,...,...,...
32946,a0b7d5a992ccda646f2d34e418fff5a0,moveis_decoracao,2.0,NaN
32947,bf4538d88321d0fd4412a93c974510e6,construcao_ferramentas_iluminacao,1.0,NaN
32948,9a7c6041fa9592d9d9ef6cfe62a71f8c,cama_mesa_banho,1.0,NaN
32949,83808703fc0706a22e264b9d75f04a2e,informatica_acessorios,2.0,NaN
32950,106392145fca363410d287a815be6de4,cama_mesa_banho,1.0,NaN

## Olist seller dataset

In [67]:
seller =pd.read_csv('Project2/olist_sellers_dataset.csv')

In [68]:
seller

,seller_id,seller_zip_code_prefix,seller_city,seller_state
0,3442f8959a84dea7ee197c632cb2df15,13023,campinas,SP
1,d1b65fc7debc3361ea86b5f14c68d2e2,13844,mogi guacu,SP
2,ce3ad9de960102d0677a81f5d0bb7b2d,20031,rio de janeiro,RJ
3,c0f3eea2e14555b6faeea3dd58c1b1c3,4195,sao paulo,SP
4,51a04a8a6bdcb23deccc82b0b80742cf,12914,braganca paulista,SP
...,...,...,...,...
3090,98dddbc4601dd4443ca174359b237166,87111,sarandi,PR
3091,f8201cab383e484733266d1906e2fdfa,88137,palhoca,SC
3092,74871d19219c7d518d0090283e03c137,4650,sao paulo,SP
3093,e603cf3fec55f8697c9059638d6c8eb5,96080,pelotas,RS
3094,9e25199f6ef7e7c347120ff175652c3b,12051,taubate,SP

In [69]:
seller["seller_city"]= seller["seller_city"].str.title()

In [70]:
seller.duplicated().sum()

0

In [71]:
seller['seller_id'].duplicated().sum()

0

In [72]:
seller["seller_city"]= seller["seller_city"].apply(keep_only_text)

In [73]:
seller

,seller_id,seller_zip_code_prefix,seller_city,seller_state
0,3442f8959a84dea7ee197c632cb2df15,13023,Campinas,SP
1,d1b65fc7debc3361ea86b5f14c68d2e2,13844,Mogi Guacu,SP
2,ce3ad9de960102d0677a81f5d0bb7b2d,20031,Rio De Janeiro,RJ
3,c0f3eea2e14555b6faeea3dd58c1b1c3,4195,Sao Paulo,SP
4,51a04a8a6bdcb23deccc82b0b80742cf,12914,Braganca Paulista,SP
...,...,...,...,...
3090,98dddbc4601dd4443ca174359b237166,87111,Sarandi,PR
3091,f8201cab383e484733266d1906e2fdfa,88137,Palhoca,SC
3092,74871d19219c7d518d0090283e03c137,4650,Sao Paulo,SP
3093,e603cf3fec55f8697c9059638d6c8eb5,96080,Pelotas,RS
3094,9e25199f6ef7e7c347120ff175652c3b,12051,Taubate,SP

## Olist Orders Dataset

In [74]:
orders=pd.read_csv('Project2/olist_orders_dataset.csv')

In [75]:
orders.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99441 entries, 0 to 99440
Data columns (total 8 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   order_id                       99441 non-null  object
 1   customer_id                    99441 non-null  object
 2   order_status                   99441 non-null  object
 3   order_purchase_timestamp       99441 non-null  object
 4   order_approved_at              99281 non-null  object
 5   order_delivered_carrier_date   97658 non-null  object
 6   order_delivered_customer_date  96476 non-null  object
 7   order_estimated_delivery_date  99441 non-null  object
dtypes: object(8)
memory usage: 6.1+ MB

In [76]:
# Convert the columns to datetime format
date_columns = ['order_approved_at', 'order_purchase_timestamp', 'order_delivered_carrier_date']

for col in date_columns:
    orders[col] = pd.to_datetime(orders[col])

In [77]:
df=orders.copy()

In [78]:
orders['order_status'].unique()

array(['delivered', 'invoiced', 'shipped', 'processing', 'unavailable',
       'canceled', 'created', 'approved'], dtype=object)

In [79]:
orders= orders[
((orders["order_approved_at"]- orders["order_purchase_timestamp"]).dt.total_seconds()/86400>=0) &
((orders['order_delivered_carrier_date']-orders['order_approved_at']).dt.days >= 0)
]

In [80]:
orders['order_status'].unique()

array(['delivered', 'shipped', 'canceled'], dtype=object)

In [81]:
 orders[(orders["order_status"]=="canceled")& (orders["order_delivered_customer_date"].notna())]

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date
2921,1950d777989f6a877539f53795b4c3c3,1bccb206de9f0f25adc6871a1bcf77b2,canceled,2018-02-19 19:48:52,2018-02-19 20:56:05,2018-02-20 19:57:13,2018-03-21 22:03:51,2018-03-09 00:00:00
8791,dabf2b0e35b423f94618bf965fcb7514,5cdec0bb8cbdf53ffc8fdc212cd247c6,canceled,2016-10-09 00:56:52,2016-10-09 13:36:58,2016-10-13 13:36:59,2016-10-16 14:36:59,2016-11-30 00:00:00
58266,770d331c84e5b214bd9dc70a10b829d0,6c57e6119369185e575b36712766b0ef,canceled,2016-10-07 14:52:30,2016-10-07 15:07:10,2016-10-11 15:07:11,2016-10-14 15:07:11,2016-11-29 00:00:00
59332,8beb59392e21af5eb9547ae1a9938d06,bf609b5741f71697f65ce3852c5d2623,canceled,2016-10-08 20:17:50,2016-10-09 14:34:30,2016-10-14 22:45:26,2016-10-19 18:47:43,2016-11-30 00:00:00
92636,65d1e226dfaeb8cdc42f665422522d14,70fc57eeae292675927697fe03ad3ff5,canceled,2016-10-03 21:01:41,2016-10-04 10:18:57,2016-10-25 12:14:28,2016-11-08 10:58:34,2016-11-25 00:00:00
94399,2c45c33d2f9cb8ff8b1c86cc28c11c30,de4caa97afa80c8eeac2ff4c8da5b72e,canceled,2016-10-09 15:39:56,2016-10-10 10:40:49,2016-10-14 10:40:50,2016-11-09 14:53:50,2016-12-08 00:00:00

In [82]:
to_remove= orders[(orders["order_status"]=="canceled")& (orders["order_delivered_customer_date"].notna())].index

In [83]:
orders = orders.drop(to_remove)

In [84]:
orders.duplicated().sum()

0

## order_Payment_dataset

In [85]:
payment=pd.read_csv('Project2/olist_order_payments_dataset.csv')

In [86]:
payment.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 103886 entries, 0 to 103885
Data columns (total 5 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   order_id              103886 non-null  object
 1   payment_sequential    103886 non-null  int64
 2   payment_type          103886 non-null  object
 3   payment_installments  103886 non-null  int64
 4   payment_value         103886 non-null  float64
dtypes: float64(1), int64(2), object(2)
memory usage: 4.0+ MB

In [87]:
payment

,order_id,payment_sequential,payment_type,payment_installments,payment_value
0,b81ef226f3fe1789b1e8b2acac839d17,1,credit_card,8,99.33
1,a9810da82917af2d9aefd1278f1dcfa0,1,credit_card,1,24.39
2,25e8ea4e93396b6fa0d3dd708e76c1bd,1,credit_card,1,65.71
3,ba78997921bbcdc1373bb41e913ab953,1,credit_card,8,107.78
4,42fdf880ba16b47b59251dd489d4441a,1,credit_card,2,128.45
...,...,...,...,...,...
103881,0406037ad97740d563a178ecc7a2075c,1,boleto,1,363.31
103882,7b905861d7c825891d6347454ea7863f,1,credit_card,2,96.80
103883,32609bbb3dd69b3c066a6860554a77bf,1,credit_card,1,47.77
103884,b8b61059626efa996a60be9bb9320e10,1,credit_card,5,369.54
103885,28bbae6599b09d39ca406b747b6632b1,1,boleto,1,191.58

In [88]:
payment['payment_sequential'].duplicated().sum()

103857

In [89]:
payment[payment["order_id"]=="fa65dad1b0e818e3ccc5cb0e39231352"]

,order_id,payment_sequential,payment_type,payment_installments,payment_value
4885,fa65dad1b0e818e3ccc5cb0e39231352,27,voucher,1,66.02
9985,fa65dad1b0e818e3ccc5cb0e39231352,4,voucher,1,29.16
14321,fa65dad1b0e818e3ccc5cb0e39231352,1,voucher,1,3.71
17274,fa65dad1b0e818e3ccc5cb0e39231352,9,voucher,1,1.08
19565,fa65dad1b0e818e3ccc5cb0e39231352,10,voucher,1,12.86
23074,fa65dad1b0e818e3ccc5cb0e39231352,2,voucher,1,8.51
24879,fa65dad1b0e818e3ccc5cb0e39231352,25,voucher,1,3.68
28330,fa65dad1b0e818e3ccc5cb0e39231352,5,voucher,1,0.66
29648,fa65dad1b0e818e3ccc5cb0e39231352,6,voucher,1,5.02
32519,fa65dad1b0e818e3ccc5cb0e39231352,11,voucher,1,4.03
36822,fa65dad1b0e818e3ccc5cb0e39231352,14,voucher,1,0.00
39108,fa65dad1b0e818e3ccc5cb0e39231352,29,voucher,1,19.26
39111,fa65dad1b0e818e3ccc5cb0e39231352,28,voucher,1,29.05
63369,fa65dad1b0e818e3ccc5cb0e39231352,15,voucher,1,14.04
65641,fa65dad1b0e818e3ccc5cb0e39231352,3,voucher,1,2.95
68853,fa65dad1b0e818e3ccc5cb0e39231352,8,voucher,1,26.02
73537,fa65dad1b0e818e3ccc5cb0e39231352,12,voucher,1,3.60
74239,fa65dad1b0e818e3ccc5cb0e39231352,21,voucher,1,4.11
74721,fa65dad1b0e818e3ccc5cb0e39231352,19,voucher,1,5.02
77885,fa65dad1b0e818e3ccc5cb0e39231352,13,voucher,1,0.00
78050,fa65dad1b0e818e3ccc5cb0e39231352,16,voucher,1,12.86
79587,fa65dad1b0e818e3ccc5cb0e39231352,26,voucher,1,28.27
79670,fa65dad1b0e818e3ccc5cb0e39231352,17,voucher,1,3.72
80321,fa65dad1b0e818e3ccc5cb0e39231352,18,voucher,1,0.73
82593,fa65dad1b0e818e3ccc5cb0e39231352,7,voucher,1,0.32
85166,fa65dad1b0e818e3ccc5cb0e39231352,23,voucher,1,18.86
93337,fa65dad1b0e818e3ccc5cb0e39231352,20,voucher,1,150.00
99213,fa65dad1b0e818e3ccc5cb0e39231352,24,voucher,1,0.42
100606,fa65dad1b0e818e3ccc5cb0e39231352,22,voucher,1,4.03

In [90]:
# this shows incorrect data 
payment[payment["order_id"]=="b81ef226f3fe1789b1e8b2acac839d17"]

,order_id,payment_sequential,payment_type,payment_installments,payment_value
0,b81ef226f3fe1789b1e8b2acac839d17,1,credit_card,8,99.33

In [91]:
# this shows incorrect data

In [92]:
payment.drop(columns=["payment_sequential","payment_installments"], inplace=True)

In [93]:
payment.head()

                           order_id payment_type  payment_value
0  b81ef226f3fe1789b1e8b2acac839d17  credit_card          99.33
1  a9810da82917af2d9aefd1278f1dcfa0  credit_card          24.39
2  25e8ea4e93396b6fa0d3dd708e76c1bd  credit_card          65.71
3  ba78997921bbcdc1373bb41e913ab953  credit_card         107.78
4  42fdf880ba16b47b59251dd489d4441a  credit_card         128.45

In [94]:
payment[payment["order_id"]=="fa65dad1b0e818e3ccc5cb0e39231352"]

                                order_id payment_type  payment_value
4885    fa65dad1b0e818e3ccc5cb0e39231352      voucher          66.02
9985    fa65dad1b0e818e3ccc5cb0e39231352      voucher          29.16
14321   fa65dad1b0e818e3ccc5cb0e39231352      voucher           3.71
17274   fa65dad1b0e818e3ccc5cb0e39231352      voucher           1.08
19565   fa65dad1b0e818e3ccc5cb0e39231352      voucher          12.86
23074   fa65dad1b0e818e3ccc5cb0e39231352      voucher           8.51
24879   fa65dad1b0e818e3ccc5cb0e39231352      voucher           3.68
28330   fa65dad1b0e818e3ccc5cb0e39231352      voucher           0.66
29648   fa65dad1b0e818e3ccc5cb0e39231352      voucher           5.02
32519   fa65dad1b0e818e3ccc5cb0e39231352      voucher           4.03
36822   fa65dad1b0e818e3ccc5cb0e39231352      voucher           0.00
39108   fa65dad1b0e818e3ccc5cb0e39231352      voucher          19.26
39111   fa65dad1b0e818e3ccc5cb0e39231352      voucher          29.05
63369   fa65dad1b0e818e3ccc5cb0e39231352      voucher          14.04
65641   fa65dad1b0e818e3ccc5cb0e39231352      voucher           2.95
68853   fa65dad1b0e818e3ccc5cb0e39231352      voucher          26.02
73537   fa65dad1b0e818e3ccc5cb0e39231352      voucher           3.60
74239   fa65dad1b0e818e3ccc5cb0e39231352      voucher           4.11
74721   fa65dad1b0e818e3ccc5cb0e39231352      voucher           5.02
77885   fa65dad1b0e818e3ccc5cb0e39231352      voucher           0.00
78050   fa65dad1b0e818e3ccc5cb0e39231352      voucher          12.86
79587   fa65dad1b0e818e3ccc5cb0e39231352      voucher          28.27
79670   fa65dad1b0e818e3ccc5cb0e39231352      voucher           3.72
80321   fa65dad1b0e818e3ccc5cb0e39231352      voucher           0.73
82593   fa65dad1b0e818e3ccc5cb0e39231352      voucher           0.32
85166   fa65dad1b0e818e3ccc5cb0e39231352      voucher          18.86
93337   fa65dad1b0e818e3ccc5cb0e39231352      voucher         150.00
99213   fa65dad1b0e818e3ccc5cb0e39231352      voucher           0.42
100606  fa65dad1b0e818e3ccc5cb0e39231352      voucher           4.03

In [95]:
payment= payment.groupby(["order_id","payment_type"]).sum("payment_value").reset_index()

In [96]:
payment[payment["order_id"]=="fa65dad1b0e818e3ccc5cb0e39231352"]

                               order_id payment_type  payment_value
99453  fa65dad1b0e818e3ccc5cb0e39231352      voucher         457.99

In [97]:
payment.shape

(101686, 3)

In [98]:
103886 -101686

2200

In [100]:
orders.head()

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00
1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2018-07-24 20:41:37,2018-07-26 03:24:27,2018-07-26 14:31:00,2018-08-07 15:27:45,2018-08-13 00:00:00
2,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,delivered,2018-08-08 08:38:49,2018-08-08 08:55:23,2018-08-08 13:50:00,2018-08-17 18:06:29,2018-09-04 00:00:00
3,949d5b44dbf5de918fe9c16f97b45f8a,f88197465ea7920adcdbec7375364d82,delivered,2017-11-18 19:28:06,2017-11-18 19:45:59,2017-11-22 13:39:59,2017-12-02 00:28:42,2017-12-15 00:00:00
4,ad21c59c0840e6cb83a9ceb5573f8159,8ab97904e6daea8866dbdbc4fb7aad2c,delivered,2018-02-13 21:18:39,2018-02-13 22:20:29,2018-02-14 19:46:34,2018-02-16 18:17:02,2018-02-26 00:00:00

In [101]:
print(orders["order_id"].nunique())
print(payment["order_id"].nunique())

96279
99440

In [102]:
99440-96279

3161

In [103]:
# orders - cancelled -- payments id --- payment 
# orders - rows cleaned -- payemnts_id -- payment 
# orders -- payment
# payment -- orders

In [104]:
len(orders[orders["order_status"]=="canceled"])

69

In [105]:
orders[~orders["order_id"].isin(payment["order_id"])]

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date
30710,bfbd0f9bdef84302105ad712db648a6c,86dc2ffce2dfff336de2f386a786e574,delivered,2016-09-15 12:16:38,2016-09-15 12:16:38,2016-11-07 17:11:53,2016-11-09 07:47:38,2016-10-04 00:00:00

In [106]:
payment[~payment["order_id"].isin(orders["order_id"])]["order_id"].nunique()

3162

In [107]:
#orders -- cleaned
# df --- uncleaned

In [108]:
 df[~df["order_id"].isin(orders["order_id"])]

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date
6,136cce7faa42fdb2cefd53fdc79a6098,ed0271e0b7da060a393796590e7b737a,invoiced,2017-04-11 12:22:08,2017-04-13 13:25:17,NaT,NaN,2017-05-09 00:00:00
15,dcb36b511fcac050b97cd5c05de84dc3,3b6828a50ffe546942b7a473d70ac0fc,delivered,2018-06-07 19:03:12,2018-06-12 23:31:02,2018-06-11 14:54:00,2018-06-21 15:34:32,2018-07-04 00:00:00
64,688052146432ef8253587b930b01a06d,81e08b08e5ed4472008030d70327c71f,delivered,2018-04-22 08:48:13,2018-04-24 18:25:22,2018-04-23 19:19:14,2018-04-24 19:31:58,2018-05-15 00:00:00
103,0760a852e4e9d89eb77bf631eaaf1c84,d2a79636084590b7465af8ab374a8cf5,invoiced,2018-08-03 17:44:42,2018-08-07 06:15:14,NaT,NaN,2018-08-21 00:00:00
128,15bed8e2fec7fdbadb186b57c46c92f2,f3f0e613e0bdb9c7cee75504f0f90679,processing,2017-09-03 14:22:03,2017-09-03 14:30:09,NaT,NaN,2017-10-03 00:00:00
...,...,...,...,...,...,...,...,...
99347,a89abace0dcc01eeb267a9660b5ac126,2f0524a7b1b3845a1a57fcf3910c4333,canceled,2018-09-06 18:45:47,NaT,NaT,NaN,2018-09-27 00:00:00
99348,a69ba794cc7deb415c3e15a0a3877e69,726f0894b5becdf952ea537d5266e543,unavailable,2017-08-23 16:28:04,2017-08-28 15:44:47,NaT,NaN,2017-09-15 00:00:00
99377,a6bd1f93b7ff72cc348ca07f38ec4bee,6d63fa86bd2f62908ad328325799152f,delivered,2018-04-20 17:28:40,2018-04-24 19:26:10,2018-04-23 17:18:40,2018-04-28 17:38:42,2018-05-15 00:00:00
99406,7fd85cb0143de098a4c5ab5a57bfbd91,d32034dfc685b1ae15dd4c78eace868e,delivered,2017-05-04 21:05:28,2017-05-09 22:33:28,2017-05-09 17:02:58,2017-05-18 06:34:38,2017-06-01 00:00:00
99415,5fabc81b6322c8443648e1b21a6fef21,32c9df889d41b0ee8309a5efb6855dcb,unavailable,2017-10-10 10:50:03,2017-10-14 18:35:57,NaT,NaN,2017-10-23 00:00:00

In [114]:
# df ---- orders    --- 3162 orders id

In [115]:
orders= pd.merge(orders, payment, on="order_id", how="inner")

## olist_items_order_dataset

In [118]:
item = pd.read_csv('Project2/olist_order_items_dataset.csv')

In [119]:
item.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 112650 entries, 0 to 112649
Data columns (total 7 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   order_id             112650 non-null  object
 1   order_item_id        112650 non-null  int64
 2   product_id           112650 non-null  object
 3   seller_id            112650 non-null  object
 4   shipping_limit_date  112650 non-null  object
 5   price                112650 non-null  float64
 6   freight_value        112650 non-null  float64
dtypes: float64(2), int64(1), object(4)
memory usage: 6.0+ MB

In [120]:
item.duplicated().sum()

0

In [121]:
item['shipping_limit_date']=pd.to_datetime(item['shipping_limit_date'])

In [122]:
item.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 112650 entries, 0 to 112649
Data columns (total 7 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   order_id             112650 non-null  object
 1   order_item_id        112650 non-null  int64
 2   product_id           112650 non-null  object
 3   seller_id            112650 non-null  object
 4   shipping_limit_date  112650 non-null  datetime64[ns]
 5   price                112650 non-null  float64
 6   freight_value        112650 non-null  float64
dtypes: datetime64[ns](1), float64(2), int64(1), object(3)
memory usage: 6.0+ MB

In [123]:
print(orders['order_id'].nunique())
print(item['order_id'].nunique())

96278
98666

In [124]:
orders= pd.merge(orders,item, on="order_id", how="inner")

In [125]:
orders.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 117170 entries, 0 to 117169
Data columns (total 18 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   order_id                       117170 non-null  object
 1   customer_id                    117170 non-null  object
 2   order_status                   117170 non-null  object
 3   order_purchase_timestamp       117170 non-null  datetime64[ns]
 4   order_approved_at              117170 non-null  datetime64[ns]
 5   order_delivered_carrier_date   117170 non-null  datetime64[ns]
 6   order_delivered_customer_date  115861 non-null  object
 7   order_estimated_delivery_date  117170 non-null  object
 8   payment_type_x                 117170 non-null  object
 9   payment_value_x                117170 non-null  float64
 10  payment_type_y                 117170 non-null  object
 11  payment_value_y                117170 non-null  float64
 12  order_item_id                  117170 non-null  int64
 13  product_id                     117170 non-null  object
 14  seller_id                      117170 non-null  object
 15  shipping_limit_date            117170 non-null  datetime64[ns]
 16  price                          117170 non-null  float64
 17  freight_value                  117170 non-null  float64
dtypes: datetime64[ns](4), float64(4), int64(1), object(9)
memory usage: 16.1+ MB

In [126]:
orders= orders[(orders["shipping_limit_date"]>orders["order_purchase_timestamp"]) &
(orders["shipping_limit_date"]>orders["order_approved_at"])&
(orders["shipping_limit_date"]<orders["order_delivered_customer_date"])]

In [127]:
orders

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,payment_type_x,payment_value_x,payment_type_y,payment_value_y,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00,credit_card,18.12,credit_card,18.12,1,87285b34884572647811a353c7ac498a,3504c0cb71d7fa48d967e0e4c94d59d9,2017-10-06 11:07:15,29.99,8.72
1,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00,credit_card,18.12,voucher,20.59,1,87285b34884572647811a353c7ac498a,3504c0cb71d7fa48d967e0e4c94d59d9,2017-10-06 11:07:15,29.99,8.72
2,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00,voucher,20.59,credit_card,18.12,1,87285b34884572647811a353c7ac498a,3504c0cb71d7fa48d967e0e4c94d59d9,2017-10-06 11:07:15,29.99,8.72
3,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00,voucher,20.59,voucher,20.59,1,87285b34884572647811a353c7ac498a,3504c0cb71d7fa48d967e0e4c94d59d9,2017-10-06 11:07:15,29.99,8.72
4,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2018-07-24 20:41:37,2018-07-26 03:24:27,2018-07-26 14:31:00,2018-08-07 15:27:45,2018-08-13 00:00:00,boleto,141.46,boleto,141.46,1,595fac2a385ac33a80bd5114aec74eb8,289cdb325fb7e7f891c38608bf9e0962,2018-07-30 03:24:27,118.70,22.76
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
117165,63943bddc261676b46f01ca7ac2f7bd8,1fca14ff2861355f6e5f14306ff977a7,delivered,2018-02-06 12:58:58,2018-02-06 13:10:37,2018-02-07 23:22:42,2018-02-28 17:37:56,2018-03-02 00:00:00,credit_card,195.00,credit_card,195.00,1,f1d4ce8c6dd66c47bbaa8c6781c2a923,1f9ab4708f3056ede07124aad39a2554,2018-02-12 13:10:37,174.90,20.10
117166,83c1379a015df1e13d02aae0204711ab,1aa71eb042121263aafbe80c1b562c9c,delivered,2017-08-27 14:46:43,2017-08-27 15:04:16,2017-08-28 20:52:26,2017-09-21 11:24:17,2017-09-27 00:00:00,credit_card,271.01,credit_card,271.01,1,b80910977a37536adeddd63663f916ad,d50d79cb34e38265a8649c383dcffd48,2017-09-05 15:04:16,205.99,65.02
117167,11c177c8e97725db2631073c19f07b62,b331b74b18dc79bcdf6532d51e1637c1,delivered,2018-01-08 21:28:27,2018-01-08 21:36:21,2018-01-12 15:35:03,2018-01-25 23:32:54,2018-02-15 00:00:00,credit_card,441.16,credit_card,441.16,1,d1c427060a0f73f6b889a5c7c61f2ac4,a1043bafd471dff536d0c462352beb48,2018-01-12 21:36:21,179.99,40.59
117168,11c177c8e97725db2631073c19f07b62,b331b74b18dc79bcdf6532d51e1637c1,delivered,2018-01-08 21:28:27,2018-01-08 21:36:21,2018-01-12 15:35:03,2018-01-25 23:32:54,2018-02-15 00:00:00,credit_card,441.16,credit_card,441.16,2,d1c427060a0f73f6b889a5c7c61f2ac4,a1043bafd471dff536d0c462352beb48,2018-01-12 21:36:21,179.99,40.59
117169,66dea50a8b16d9b4dee7af250b4be1a5,edb027a75a1449115f6b43211ae02a24,delivered,2018-03-08 20:57:30,2018-03-09 11:20:28,2018-03-09 22:11:59,2018-03-16 13:08:30,2018-04-03 00:00:00,debit_card,86.86,debit_card,86.86,1,006619bbed68b000c8ba3f8725d5409e,ececbfcff9804a2d6b40f589df8eef2b,2018-03-15 10:55:42,68.50,18.36

In [128]:
orders[orders["order_id"]=="8272b63d03f5f79c56e9e4120aec44ef"]

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,payment_type_x,payment_value_x,payment_type_y,payment_value_y,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value
104524,8272b63d03f5f79c56e9e4120aec44ef,fc3d1daec319d62d49bfb5e1f83123e9,delivered,2017-07-16 18:19:25,2017-07-17 18:25:23,2017-07-20 15:45:53,2017-07-31 18:03:02,2017-07-28 00:00:00,credit_card,196.11,credit_card,196.11,1,270516a3f41dc035aa87d220228f844c,2709af9587499e95e803a6498a5a56e9,2017-07-21 18:25:23,1.2,7.89
104525,8272b63d03f5f79c56e9e4120aec44ef,fc3d1daec319d62d49bfb5e1f83123e9,delivered,2017-07-16 18:19:25,2017-07-17 18:25:23,2017-07-20 15:45:53,2017-07-31 18:03:02,2017-07-28 00:00:00,credit_card,196.11,credit_card,196.11,2,05b515fdc76e888aada3c6d66c201dff,2709af9587499e95e803a6498a5a56e9,2017-07-21 18:25:23,1.2,7.89
104526,8272b63d03f5f79c56e9e4120aec44ef,fc3d1daec319d62d49bfb5e1f83123e9,delivered,2017-07-16 18:19:25,2017-07-17 18:25:23,2017-07-20 15:45:53,2017-07-31 18:03:02,2017-07-28 00:00:00,credit_card,196.11,credit_card,196.11,3,05b515fdc76e888aada3c6d66c201dff,2709af9587499e95e803a6498a5a56e9,2017-07-21 18:25:23,1.2,7.89
104527,8272b63d03f5f79c56e9e4120aec44ef,fc3d1daec319d62d49bfb5e1f83123e9,delivered,2017-07-16 18:19:25,2017-07-17 18:25:23,2017-07-20 15:45:53,2017-07-31 18:03:02,2017-07-28 00:00:00,credit_card,196.11,credit_card,196.11,4,05b515fdc76e888aada3c6d66c201dff,2709af9587499e95e803a6498a5a56e9,2017-07-21 18:25:23,1.2,7.89
104528,8272b63d03f5f79c56e9e4120aec44ef,fc3d1daec319d62d49bfb5e1f83123e9,delivered,2017-07-16 18:19:25,2017-07-17 18:25:23,2017-07-20 15:45:53,2017-07-31 18:03:02,2017-07-28 00:00:00,credit_card,196.11,credit_card,196.11,5,05b515fdc76e888aada3c6d66c201dff,2709af9587499e95e803a6498a5a56e9,2017-07-21 18:25:23,1.2,7.89
104529,8272b63d03f5f79c56e9e4120aec44ef,fc3d1daec319d62d49bfb5e1f83123e9,delivered,2017-07-16 18:19:25,2017-07-17 18:25:23,2017-07-20 15:45:53,2017-07-31 18:03:02,2017-07-28 00:00:00,credit_card,196.11,credit_card,196.11,6,05b515fdc76e888aada3c6d66c201dff,2709af9587499e95e803a6498a5a56e9,2017-07-21 18:25:23,1.2,7.89
104530,8272b63d03f5f79c56e9e4120aec44ef,fc3d1daec319d62d49bfb5e1f83123e9,delivered,2017-07-16 18:19:25,2017-07-17 18:25:23,2017-07-20 15:45:53,2017-07-31 18:03:02,2017-07-28 00:00:00,credit_card,196.11,credit_card,196.11,7,05b515fdc76e888aada3c6d66c201dff,2709af9587499e95e803a6498a5a56e9,2017-07-21 18:25:23,1.2,7.89
104531,8272b63d03f5f79c56e9e4120aec44ef,fc3d1daec319d62d49bfb5e1f83123e9,delivered,2017-07-16 18:19:25,2017-07-17 18:25:23,2017-07-20 15:45:53,2017-07-31 18:03:02,2017-07-28 00:00:00,credit_card,196.11,credit_card,196.11,8,05b515fdc76e888aada3c6d66c201dff,2709af9587499e95e803a6498a5a56e9,2017-07-21 18:25:23,1.2,7.89
104532,8272b63d03f5f79c56e9e4120aec44ef,fc3d1daec319d62d49bfb5e1f83123e9,delivered,2017-07-16 18:19:25,2017-07-17 18:25:23,2017-07-20 15:45:53,2017-07-31 18:03:02,2017-07-28 00:00:00,credit_card,196.11,credit_card,196.11,9,05b515fdc76e888aada3c6d66c201dff,2709af9587499e95e803a6498a5a56e9,2017-07-21 18:25:23,1.2,7.89
104533,8272b63d03f5f79c56e9e4120aec44ef,fc3d1daec319d62d49bfb5e1f83123e9,delivered,2017-07-16 18:19:25,2017-07-17 18:25:23,2017-07-20 15:45:53,2017-07-31 18:03:02,2017-07-28 00:00:00,credit_card,196.11,credit_card,196.11,10,05b515fdc76e888aada3c6d66c201dff,2709af9587499e95e803a6498a5a56e9,2017-07-21 18:25:23,1.2,7.89
104534,8272b63d03f5f79c56e9e4120aec44ef,fc3d1daec319d62d49bfb5e1f83123e9,delivered,2017-07-16 18:19:25,2017-07-17 18:25:23,2017-07-20 15:45:53,2017-07-31 18:03:02,2017-07-28 00:00:00,credit_card,196.11,credit_card,196.11,11,05b515fdc76e888aada3c6d66c201dff,2709af9587499e95e803a6498a5a56e9,2017-07-21 18:25:23,1.2,7.89
104535,8272b63d03f5f79c56e9e4120aec44ef,fc3d1daec319d62d49bfb5e1f83123e9,delivered,2017-07-16 18:19:25,2017-07-17 18:25:23,2017-07-20 15:45:53,2017-07-31 18:03:02,2017-07-28 00:00:00,credit_card,196.11,credit_card,196.11,12,270516a3f41dc035aa87d220228f844c,2709af9587499e95e803a6498a5a56e9,2017-07-21 18:25:23,1.2,7.89
104536,8272b63d03f5f79c56e9e4120aec44ef,fc3d1daec319d62d49bfb5e1f83123e9,delivered,2017-07-16 18:19:25,2017-07-17 18:25:23,2017-07-20 15:45:53,2017-07-31 18:03:02,2017-07-28 00:00:00,credit_card,196.11,credit_card,196.11,13,270516a3f41dc035aa87d220228f844c,2709af9587499e95e803a6498a5a56e9,2017-07-21 18:25:23,1.2,7.89
104537,8272b63d03f5f79c56e9e4120aec44ef,fc3d1daec319d62d49bfb5e1f83123e9,delivered,2017-07-16 18:19:25,2017-07-17 18:25:23,2017-07-20 15:45:53,2017-07-31 18:03:02,2017-07-28 00:00:00,credit_card,196.11,credit_card,196.11,14,270516a3f41dc035aa87d220228f844c,2709af9587499e95e803a6498a5a56e9,2017-07-21 18:25:23,1.2,7.89
104538,8272b63d03f5f79c56e9e4120aec44ef,fc3d1daec319d62d49bfb5e1f83123e9,delivered,2017-07-16 18:19:25,2017-07-17 18:25:23,2017-07-20 15:45:53,2017-07-31 18:03:02,2017-07-28 00:00:00,credit_card,196.11,credit_card,196.11,15,270516a3f41dc035aa87d220228f844c,2709af9587499e95e803a6498a5a56e9,2017-07-21 18:25:23,1.2,7.89
104539,8272b63d03f5f79c56e9e4120aec44ef,fc3d1daec319d62d49bfb5e1f83123e9,delivered,2017-07-16 18:19:25,2017-07-17 18:25:23,2017-07-20 15:45:53,2017-07-31 18:03:02,2017-07-28 00:00:00,credit_card,196.11,credit_card,196.11,16,270516a3f41dc035aa87d220228f844c,2709af9587499e95e803a6498a5a56e9,2017-07-21 18:25:23,1.2,7.89
104540,8272b63d03f5f79c56e9e4120aec44ef,fc3d1daec319d62d49bfb5e1f83123e9,delivered,2017-07-16 18:19:25,2017-07-17 18:25:23,2017-07-20 15:45:53,2017-07-31 18:03:02,2017-07-28 00:00:00,credit_card,196.11,credit_card,196.11,17,270516a3f41dc035aa87d220228f844c,2709af9587499e95e803a6498a5a56e9,2017-07-21 18:25:23,1.2,7.89
104541,8272b63d03f5f79c56e9e4120aec44ef,fc3d1daec319d62d49bfb5e1f83123e9,delivered,2017-07-16 18:19:25,2017-07-17 18:25:23,2017-07-20 15:45:53,2017-07-31 18:03:02,2017-07-28 00:00:00,credit_card,196.11,credit_card,196.11,18,270516a3f41dc035aa87d220228f844c,2709af9587499e95e803a6498a5a56e9,2017-07-21 18:25:23,1.2,7.89
104542,8272b63d03f5f79c56e9e4120aec44ef,fc3d1daec319d62d49bfb5e1f83123e9,delivered,2017-07-16 18:19:25,2017-07-17 18:25:23,2017-07-20 15:45:53,2017-07-31 18:03:02,2017-07-28 00:00:00,credit_card,196.11,credit_card,196.11,19,270516a3f41dc035aa87d220228f844c,2709af9587499e95e803a6498a5a56e9,2017-07-21 18:25:23,1.2,7.89
104543,8272b63d03f5f79c56e9e4120aec44ef,fc3d1daec319d62d49bfb5e1f83123e9,delivered,2017-07-16 18:19:25,2017-07-17 18:25:23,2017-07-20 15:45:53,2017-07-31 18:03:02,2017-07-28 00:00:00,credit_card,196.11,credit_card,196.11,20,270516a3f41dc035aa87d220228f844c,2709af9587499e95e803a6498a5a56e9,2017-07-21 18:25:23,1.2,7.89
104544,8272b63d03f5f79c56e9e4120aec44ef,fc3d1daec319d62d49bfb5e1f83123e9,delivered,2017-07-16 18:19:25,2017-07-17 18:25:23,2017-07-20 15:45:53,2017-07-31 18:03:02,2017-07-28 00:00:00,credit_card,196.11,credit_card,196.11,21,79ce45dbc2ea29b22b5a261bbb7b7ee7,2709af9587499e95e803a6498a5a56e9,2017-07-21 18:25:23,7.8,6.57

In [129]:
sum(orders[orders["order_id"]=="8272b63d03f5f79c56e9e4120aec44ef"]["price"]+orders[orders["order_id"]=="8272b63d03f5f79c56e9e4120aec44ef"]["freight_value"])

196.17

In [130]:
orders.drop(columns="order_item_id", inplace=True)

In [131]:
orders.columns

Index(['order_id', 'customer_id', 'order_status', 'order_purchase_timestamp',
       'order_approved_at', 'order_delivered_carrier_date',
       'order_delivered_customer_date', 'order_estimated_delivery_date',
       'payment_type_x', 'payment_value_x', 'payment_type_y',
       'payment_value_y', 'product_id', 'seller_id', 'shipping_limit_date',
       'price', 'freight_value'],
      dtype='object')

In [134]:
orders= orders.groupby(['order_id', 'customer_id', 'order_status', 'order_purchase_timestamp',
       'order_approved_at', 'order_delivered_carrier_date',
       'order_delivered_customer_date', 'order_estimated_delivery_date',
       'payment_type_y', 'payment_value_x', 'product_id', 'seller_id',
       'shipping_limit_date']).agg(price=("price", "sum"),
                                   freight_value=("freight_value", "sum"),
                                   Quantity=("product_id","count")).reset_index()

In [135]:
orders.shape

(83774, 16)

In [136]:
orders[orders["order_id"]=="8272b63d03f5f79c56e9e4120aec44ef"]

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,payment_type_y,payment_value_x,product_id,seller_id,shipping_limit_date,price,freight_value,Quantity
42671,8272b63d03f5f79c56e9e4120aec44ef,fc3d1daec319d62d49bfb5e1f83123e9,delivered,2017-07-16 18:19:25,2017-07-17 18:25:23,2017-07-20 15:45:53,2017-07-31 18:03:02,2017-07-28 00:00:00,credit_card,196.11,05b515fdc76e888aada3c6d66c201dff,2709af9587499e95e803a6498a5a56e9,2017-07-21 18:25:23,12.0,78.90,10
42672,8272b63d03f5f79c56e9e4120aec44ef,fc3d1daec319d62d49bfb5e1f83123e9,delivered,2017-07-16 18:19:25,2017-07-17 18:25:23,2017-07-20 15:45:53,2017-07-31 18:03:02,2017-07-28 00:00:00,credit_card,196.11,270516a3f41dc035aa87d220228f844c,2709af9587499e95e803a6498a5a56e9,2017-07-21 18:25:23,12.0,78.90,10
42673,8272b63d03f5f79c56e9e4120aec44ef,fc3d1daec319d62d49bfb5e1f83123e9,delivered,2017-07-16 18:19:25,2017-07-17 18:25:23,2017-07-20 15:45:53,2017-07-31 18:03:02,2017-07-28 00:00:00,credit_card,196.11,79ce45dbc2ea29b22b5a261bbb7b7ee7,2709af9587499e95e803a6498a5a56e9,2017-07-21 18:25:23,7.8,6.57,1

In [137]:
# there is a customer_id match with order_id so customer_unique_id have no use 
pd.merge(orders, customer, left_on="customer_id", right_on="customer_id",how="inner").head()

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,payment_type_y,payment_value_x,product_id,seller_id,shipping_limit_date,price,freight_value,Quantity,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state
0,00010242fe8c5a6d1ba2dd792cb16214,3ce436f183e68e07877b285a838db11a,delivered,2017-09-13 08:59:02,2017-09-13 09:45:35,2017-09-19 18:34:16,2017-09-20 23:43:48,2017-09-29 00:00:00,credit_card,72.19,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-09-19 09:45:35,58.9,13.29,1,871766c5855e863f6eccc05f988b23cb,28013,Campos Dos Goytacazes,RJ
1,00018f77f2f0320c557190d7a144bdd3,f6dd3ec061db4e3987629fe6b26e5cce,delivered,2017-04-26 10:53:06,2017-04-26 11:05:13,2017-05-04 14:35:00,2017-05-12 16:04:24,2017-05-15 00:00:00,credit_card,259.83,e5f2d52b802189ee658865ca93d83a8f,dd7ddc04e1b6c2c614352b383efe2d36,2017-05-03 11:05:13,239.9,19.93,1,eb28e67c4c0b83846050ddfb8a35d051,15775,Santa Fe Do Sul,SP
2,000229ec398224ef6ca0657da4fc703e,6489ae5e4333f3693df5ad4372dab6d3,delivered,2018-01-14 14:33:31,2018-01-14 14:48:30,2018-01-16 12:36:48,2018-01-22 13:19:16,2018-02-05 00:00:00,credit_card,216.87,c777355d18b72b67abbeef9df44fd0fd,5b51032eddd242adc84c38acab88f23d,2018-01-18 14:48:30,199.0,17.87,1,3818d81c6709e39d06b2738a8d3a2474,35661,Para De Minas,MG
3,00042b26cf59d7ce69dfabb4e55b4fd9,58dbd0b2d70206bf40e62cd34e84d795,delivered,2017-02-04 13:57:51,2017-02-04 14:10:13,2017-02-16 09:46:09,2017-03-01 16:42:31,2017-03-17 00:00:00,credit_card,218.04,ac6c3623068f30de03045865e4e10089,df560393f3a51e74553ab94004ba5c87,2017-02-13 13:57:51,199.9,18.14,1,64b576fb70d441e8f1b2d7d446e483c5,13226,Varzea Paulista,SP
4,00054e8431b9d7675808bcb819fb4a32,32e2e6ab09e778d99bf2e0ecd4898718,delivered,2017-12-10 11:53:48,2017-12-10 12:10:31,2017-12-12 01:07:48,2017-12-18 22:03:38,2018-01-04 00:00:00,credit_card,31.75,8d4f2bb7e93e6710a28f34fa83ee7d28,7040e82f899a04d1b434b795a43b4617,2017-12-14 12:10:31,19.9,11.85,1,635d9ac1680f03288e72ada3a1035803,16700,Guararapes,SP

In [138]:
customer.drop(columns="customer_unique_id", inplace=True)

## olist_order_reviews

In [139]:
reviews=pd.read_csv("Project2/olist_order_reviews_dataset.csv")

In [140]:
reviews.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99224 entries, 0 to 99223
Data columns (total 7 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   review_id                99224 non-null  object
 1   order_id                 99224 non-null  object
 2   review_score             99224 non-null  int64
 3   review_comment_title     11568 non-null  object
 4   review_comment_message   40977 non-null  object
 5   review_creation_date     99224 non-null  object
 6   review_answer_timestamp  99224 non-null  object
dtypes: int64(1), object(6)
memory usage: 5.3+ MB

In [141]:
reviews= reviews[reviews["order_id"].isin(orders["order_id"])]

In [142]:
reviews.drop(columns="review_comment_title", inplace=True)

In [ ]:
reviews['review_answer_timestamp'] = reviews['review_answer_timestamp'].dt.date